@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252839;
}

h1{
    position: relative;
    color: #252839;
    font-size: 3pc;
    letter-spacing: 0.3cm;
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 0.3vh rgb(125, 243, 125);
    text-transform: uppercase;
}

h1::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #01f287;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%,100%
    {
        border: none;
    }
    50%
    {
        border-right: 2px solid #01fe87;
    }
}

/* SCREEN STYLING */
.screen{
    position: fixed;
    color: white;
    font-size: 3vh;
    font-family: monospace;
    background-color: #000000;
    position: absolute;
    top: 20%;
    padding: 1%;
    width: 150vh;
    min-height: 75vh;
    border-radius: 20px;
}
.screen input{
    width: 90%;
    font-size: 3vh;
    background-color: #000000;
    border: none;
    color: #ffffff;
}
.screen input:focus{
    outline: none;
}