body{
    background-image: url(../images/wall3.jpg);
}
/************
* SETTING THE SCREEN BELOW navigation bar
***************/
.body-screen{
    position: relative;
    padding-top: 120px;
    text-align: center;
    background-color: black;
}
.body-screen img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
.body-screen .screen-content{
    position: relative;
    bottom: 180px;
    backdrop-filter: blur(20px);
}
.body-screen .screen-content h2{
    font-size: 40px;
    color: rgb(255, 233, 191);
}
.body-screen .screen-content h3{
    font-size: 25px;
    color: rgba(240, 255, 255, 0.897);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/***************
 Styling features 
 *******************/
#features{
    display: flex;

    /* flex-direction: row; */
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(77, 77, 78);
    /* margin-bottom: 40px; */
    background-color: rgb(238, 231, 231);
}
.feature-box .icon{
    color: rgb(250, 53, 53);
}
#features p{    
    font-size: 18px;
    padding: 5px 10px;
}


/***************
 body content styling 
 *******************/
.parent{
    text-align: center;
    /* padding: 40px 0px; */
    background-color: rgba(250, 235, 215, 0.918);
}

.parent .container{
    padding: 10px 40px;
    padding-top: 40px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.parent .container h1{
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 10px;
}
.parent .container p{
    font-size: 20px;
    padding: 0px 40px;
    word-break: break-all;
}

.parent .container a{
    text-decoration: none;
}
.parent .container button{
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: wheat;
}
.parent .container button:hover{
    color: rgb(245, 222, 179);
    background-color: rgba(0, 0, 0, 0.651);
}

/* .main1{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 0px;
    text-align: left;
    font-size: 1.5em;
  }
  .main2{
    padding-right: 0px;
    padding-left: 20px;
    text-align: left;
    font-size: 1.2em;
  }

  .main4{
    padding-left: 20px;
    padding-top: 50px;
    text-align: left;
    font-size: 1.5em;
  }

  .a{
    padding-left: 25px;
  }
  .b{
      padding-top: 10px;
      padding-left: 25px;
  }
  .c{
      padding-left: 25px;
  }
  .d{
      padding-left: 25px;
  }
  .e{
      top:  50px;
      padding-left: 25px;
  }
  .f{
      padding-top: 50px;
      padding-left: 25px;
  }
  .g{
      padding-top: 50px;
      padding-left: 25px;
  }
  .h{
      padding-left: 25px;
  }
  .b{
      padding-left: 25px;
  }

  .one{
    border: 0px solid;
    border-radius: 10px;
    color: white;
    background-color:#1C1A2A;
    width: 210px;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
  }

  .one:hover {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  } */