
#divOperationMessage{
    background-color: black; 
    border: 2px solid white; 
    color: white;
    display: block;  
    width: 650px; 
    height: 400px;  
    top: 140px; 
    left: 580px; 
    position: fixed;
    padding-left: 10px;
    margin:auto;
}